
<div class="col">
    <div class="card">
        <img src='/img/{{this}}.png' class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title d-flex flex-column text-center justify-content-center align-items-center">{{this}}</h5>
            <div class="d-flex flex-column text-center justify-content-center align-items-center">
                <button type="button" class="btn btn-primary" data-producto="{{this}}" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Agregar al carro
                </button>
            </div>
        </div>
    </div>
</div>
