<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/6b82db74a6.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    
</head>
<body>
    
        {{{body}}}

        {{> modal}}
    
<style>
    * {
        font-family: 'Roboto Condensed', sans-serif;
    }
</style>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/app.js"></script>

</body>
</html>